# RabbitMQ shared configuration
RABBITMQ_DEFAULT_USER=oms_guest
RABBITMQ_DEFAULT_PASS=oms_guest
RABBITMQ_HOST_PORT=5672
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_HOST_PORT=15672
RABBITMQ_MANAGEMENT_PORT=15672