NODE_ENV=development
APP_ENV=development
APP_NAME='Payment app'
APP_PORT=3003
APP_DEBUG_PORT=9333
APP_URL=http://localhost
API_VERSION=1

# PostgreSQL
POSTGRES_USER=payment
POSTGRES_PASSWORD=example
POSTGRES_DB=payment_db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=7532
POSTGRES_HOST=payment-postgres
POSTGRES_URI=postgres://payment:example@payment-postgres:5432/

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_HOST_PORT=5033
PGADMIN_PORT=80
