NODE_ENV=development
APP_ENV=development
APP_NAME='Auth app'
APP_PORT=3004
APP_DEBUG_PORT=9448
APP_URL=http://localhost
API_VERSION=1


# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=payment_db
POSTGRES_PORT=5435
POSTGRES_HOST=postgres
POSTGRES_URI=postgres://postgres:example@postgres:5435/


# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5077
