NODE_ENV=development
APP_ENV=development
APP_NAME='Auth app'
APP_PORT=3004
APP_DEBUG_PORT=9444
APP_URL=http://localhost
API_VERSION=1

# PostgreSQL
POSTGRES_USER=oms_auth
POSTGRES_PASSWORD=example
POSTGRES_DB=auth_db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=7533
POSTGRES_HOST=auth-postgres
POSTGRES_URI=postgres://oms_auth:example@auth-postgres:5432/