NODE_ENV=development
APP_ENV=development
APP_PORT=3002
APP_DEBUG_PORT=9228
APP_URL=http://localhost
API_VERSION=1

# PostgreSQL
POSTGRES_USER=oms_order
POSTGRES_PASSWORD=example
POSTGRES_HOST=order-postgres
POSTGRES_DB=order_db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
POSTGRES_URI=postgres://oms_order:example@order-postgres:5432/

# RabbitMQ
RABBITMQ_URL=amqp://oms_guest:oms_guest@rabbitmq:5672


