NODE_ENV=development
APP_ENV=development
APP_PORT=3002
APP_DEBUG_PORT=9228
APP_URL=http://localhost
API_VERSION=1

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_HOST=order-postgres
POSTGRES_DB=order_db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
POSTGRES_URI=postgres://postgres:example@order-postgres:5432/

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=80
PGADMIN_HOST_PORT=5050

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUES=inventory_queue,payment_queue,notification_queue


