NODE_ENV=development
APP_ENV=development
APP_PORT=3001
APP_DEBUG_PORT=9229
APP_URL=http://localhost:3001
API_VERSION=1

# MongoDB
MONGODB_USERNAME=root
MONGODB_PASSWORD=example
MONGODB_PORT=27017
MONGODB_HOST_PORT=27017
MONGODB_HOST=inventory-mongo
MONGODB_URI=mongodb://root:example@inventory-mongo:27017/

# Mongo-Express
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_HOST_PORT=8081

# RabbitMQ
RABBITMQ_URL=amqp://oms_guest:oms_guest@rabbitmq:5672